/* reset  */

*{
    border-style: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "fredoka", sans-serif;
}

/* header */

header{
    text-align: center;
    padding:5rem;  
}

h1{
    color: rgb(229, 49, 112);
    font-size: 3rem;
}