/* reset  */

*{
    border-style: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "fredoka", sans-serif;
}

:root{
    --margin-card: 1rem;
    --margin-header: 5rem;
    --size-img: 100px;

}

/* header */

header{
    text-align: center;
    padding: var(--margin-header);  
}

h1{
    color: rgb(229, 49, 112);
    font-size: 3rem;
}
 /* Main */
p{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: var(--margin-header);
}

a{
    text-decoration: none;
    color: rgb(01, 189, 225);
}

/* utilities */

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.float-left{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* cards */

img{
    width: var(--size-img);
    height: var(--size-img);
    margin-right: var(--margin-card);
}

.card{
    background-color: black;
    color: white;
    width: calc(100% / 3 - (var(--margin-card)));
    margin-right: var(--margin-card);
    margin-bottom: var(--margin-card);
}

.card-info{
    margin: 15px 0;
}

